*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body 
{
	font-family: Verdana;
	color: white;
}

nav 
{
	width: auto;
	background-color: #202020;
	height: 480px;
	font-size: 15px;
	text-align: center;
}


section 
{
	width: auto;
	padding: 60px;
	text-align: center;
}

.photo 
{
	display: inline-block;
	width: 242px;
	height: 242px;
	border-radius: 90%;
	margin-top: 80px;
	transition: filter 500ms ease-in-out, opacity 500ms ease-in-out;
}

.photo:hover 
{
	opacity: 0.7;
	cursor: pointer;
	filter: blur(2px);
	-webkit-filter: blur(2px);
}

.option 
{
	display: inline-block;
	vertical-align: top;
	margin: 200px 60px 0px;
	width: 150px;
	height: 30px;
	transition: border-bottom 500ms ease-in-out, opacity 500ms ease-in-out;
}

.option:hover 
{
	cursor: pointer;
	border-bottom: 1px solid white;
	opacity: 0.7;
	border-color: #0033ff;
}

h1
{
	margin-top: 30px;
	font-size: 40px;
	font-weight: 100;
}

.bright-section-styling
{
	
	background-color: #303030;
}

.dark-section-styling
{
	background-color: #202020;
}

h2
{
	/*display: table - umożliwia wyświetlenie nagłówka o długości tekstu*/
	display: table;
	font-weight: bold;
	font-size: 40px;
	padding: 0px 0px 10px 100px;
	border-bottom: 2px solid #0033ff;
	margin-bottom: 50px;
}

.skills, .contact
{
	height: 680px;
}

.skills-content 
{
	padding: 15px;
}

.skills-logo 
{
	display: inline-block;
	width: 100px;
	font-size: 50px;
	margin-right: 150px;
}

.progress-bar 
{
	display: inline-block;
	width: 700px;
	height: 18px;
	border-radius: 10px;
	background-color: #202020;
	padding: 5px;
	margin-bottom: 10px;
}

.progress
{
	width: 0%;
	background-color: #0033ff;
	height: 100%;
	border-radius: 7px;
	transition: width 0.7s ease-in-out;
}


.skills:hover > .skills-content > .progress-bar > .html
{
	width: 35%;
}

.skills:hover > .skills-content > .progress-bar > .css 
{
	width: 30%;
}

.skills:hover > .skills-content > .progress-bar > .sql
{
	width: 40%;
}

.skills:hover > .skills-content > .progress-bar > .python
{
	width: 20%;
}

.skills:hover > .skills-content > .progress-bar > .php
{
	width: 10%;
}

.about 
{
	height: 450px;
	position: relative;
}

#about-content 
{
	font-size: 15px;
	padding: 0px 80px;
	line-height: 2;
	text-align: justify;
}

.download-button-set
{
	position: absolute;
	right: 140px;
	bottom: 80px;
}

.btn 
{
	width: 320px;
	background-color: transparent;
	color: white;
	margin-top: 50px;
	padding: 5px;
	font-size: 20px;
	border: 1px solid #0033ff;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 200ms;
}

.btn:hover 
{
	background-color: #0022ee;
}

.photos 
{
	height: 720px;
	color: #202020;
} 

.photo-gallery 
{
	display: inline-block;
	height: 466px;
	margin: 0px 20px;
	overflow: hidden;
	border-radius: 7px;
}

.photo-gallery img 
{
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.photo-gallery:hover img 
{
	opacity: 0.7;
	cursor: pointer;
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
}


.project-content 
{
	display: inline-block;
	height: 450px;
	width: 40%;
	margin: 30px 60px 0px;
}

.projectgallery 
{
	height: 278px;
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 40px;
	opacity: 0.8;
}

.projectgallery .link 
{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #6b88ff;
	left: 0px;
	top: 0px;
	opacity: 0.6;
	transition: opacity 0.5s ease-in-out;
	text-decoration: none;
}

.projectgallery:hover .link 
{
	opacity: 0;
}


.icon-search
{
	display: block;
	top: 37%;
	font-size: 72px;
	position: relative;
}


.contact-content
{
	display: inline-block;
	height: 420px;
	width: 40%;
	text-align: left;
	margin: 50px 30px 0px 80px;
}


.underline-animation 
{
	display: block;
	position: relative;
	color: #0033ff;
	padding-bottom: 5px;
	margin-bottom: 30px;
	width: 320px;
	font-size: 18px;
}

.underline-animation:after 
{
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0033ff;
	transform-origin: bottom right;
	transition: transform 0.5s ease-out;
}

.underline-animation:hover:after 
{
	transform: scaleX(1);
	transform-origin: bottom left;
}

a
{
	text-decoration: none;
	color: white;
}


.icon-phone, .icon-laptop, .icon-mail
{
	font-size: 25px; 
}
.contact-description
{
	font-size: 18px;
	margin-left: 20px;
}

input[type='text'] 
{
	width: 400px;
	padding: 10px;
	font-size: 15px;
	color: white;
	background-color: #202020;
	border: 1px solid gray;
	border-radius: 8px;
	/*outline - obramowanie pól*/
	outline: none;
	margin-top: 15px;
}

.messagetext 
{
	width: 400px;
	padding: 10px;
	height: 150px;
	font-size: 18px;
	color: white;
	background-color: #202020;
	border: 1px solid gray;
	border-radius: 8px;
	outline: none;
	margin-top: 15px;
	resize: none;
}

.messagetext:focus 
{
	border: 1px solid #0033ff;
}

input[type='text']:focus 
{
	border: 1px solid #0033ff;
}

.website 
{
	display: inline-block;
	width: 40px;
	height: 40px;
	transition: background-color 500ms, background 500ms;
	border-radius: 100%;
	margin: 130px 15px 0px;
	text-align: center;
}
.fb:hover 
{
	background-color: #3b5998;
	cursor: pointer;
}


.linkedin:hover 
{
	cursor: pointer;
	background-color: #0e76a8;
}

.be:hover 
{
	cursor: pointer;
	background-color: #053eff;
}

.insta:hover 
{
	cursor: pointer;
	background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,#bc1888 100%);
}

.icon-behance, .icon-facebook, .icon-linkedin, .icon-instagram
{
	font-size: 20px; 
	line-height: 40px;
}


.icon-up-open 
{
	width: 30px;
	height: 30px;
	text-decoration: none;
	/*-pozycja przypisana na stale-*/
	position: fixed;
	/*-odległosć od prawej krawedzi-*/
	right: 30px;
	/*-odległosć od dolnej krawedzi-*/
	bottom: 30px;
	font-size: 25px;
	color: gray;
	display: none;
	/*transition: width 200ms, height 200ms, font-size 200ms;*/
	transition: transform 200ms;
	z-index: 1;
}

.icon-up-open:hover
{
	transform: scale(1.5);
	/*
	font-size: 40px;
	width: 40px;
	height: 40px;
	*/
}

footer 
{
	color: gray;
	width: auto;
	height: 80px;
	background-color: #202020;
	font-size: 15px;
}

#copyrights 
{
	border-top: solid 1px gray;
	margin: 0px 80px 0px 50px;
	line-height: 80px;
}

.img-html 
{
	height: 70px;
	width: 52px;
}

.img-mysql 
{
	height: 70px;
	width: 70px;
}

.img-css 
{
	height: 70px;
	width: 59px;
}
