*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
    scroll-behavior: smooth;
}

body 
{
	font-family: Verdana;
	color: white;
}

a
{
    text-decoration: none;
    color: white;
}

.wrapper
{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; 
}

/* navigacja */

.nav__burger
{
    position: fixed;
    top: 10px;
	right: 10px;
    padding: 15px;
    background: none;
	border: 1px solid transparent;
    cursor: pointer;
	z-index: 1000;
}

.nav__burger:focus
{
	outline: none;
}

.nav__burger-box
{
	position: relative;
	width: 40px;
	height: 30px;
}

.nav__burger-bars, .nav__burger-bars::after, .nav__burger-bars::before
{
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: #fff;
	transition: width 0.3s;
	border-radius: 8px;
}

.nav__burger-bars
{
	width: 100%;
}

.nav__burger-bars::after
{
	top: 13px;
	width: 60%;
}

.nav__burger-bars::before
{
	top: 27px;
	width: 30%;
	transition-delay: 0.1s;
}

.nav__burger:hover .nav__burger-bars::after, .nav__burger:hover .nav__burger-bars::before
{
	width: 100%;
}

h1
{
	padding-bottom: 50px;
}

.nav
{
	font-size: 15px;
	text-align: center;
	background-color: #202020;
	/* background: linear-gradient(10deg, #2483ff 60%, #2c6afb 60%); */
}

.nav__menu
{
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	background-image: linear-gradient(45deg, #202020, #303030);
	font-size: 20px;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.94, 0.89, 0, 0.26);
	z-index: 100;
}

.nav__menu-item
{
	position: relative;
	display: block;
	top: 180px;
	margin: 20px 0;
	padding: 10px 20px;
	transition: opacity 0.2s;
}

.nav__menu-item::after
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background-color: #fff;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.2s ease-out, background-color 0.3s linear;
}

.nav__menu-item:hover::after
{
	background-color: #0033ff;
	transform: scaleX(1);
	transform-origin: bottom left;
}

.nav__menu-item:hover
{
	opacity: 0.8;
}

.burger-active
{
	transform: translateX(0);
}

@keyframes navOptionsAnimation
{
	from
	{
		transform: translateX(200%);
	}

	to
	{
		transform: translateX(0);
	}
}

.nav-options-animation
{
	animation: navOptionsAnimation 1.2s both;
}

.nav__photo 
{	
	position: relative;
	display: inline-flex;
	width: 200px;
	height: 200px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 50%;
	background-image: url(../img/photo.jpg);
	background-size: cover;
	background-position: center;
	transition: opacity 500ms ease-in-out, filter 500ms ease-in-out;
}

.nav__photo:hover
{
	opacity: 0.7;
	filter: blur(2px);
	cursor: pointer;
}



/* sekcje dla strony www */
section 
{
	width: auto;
	padding: 20px;
	text-align: center;
}

.bright-section-styling
{
	background-color: #303030;
}

.dark-section-styling
{
	background-color: #202020;
}

.section__title
{
	/*display: table - umożliwia wyświetlenie nagłówka o długości tekstu*/
	display: table;
	margin-bottom: 25px;
	padding: 0px 0px 10px 50px;
	font-weight: bold;
	font-size: 28px;
	border-bottom: 2px solid #0033ff;
}


/* sekcja umiejętności */

.skills__box
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 20px;
}

.skills__box-logo
{
	padding: 15px 0;
	font-size: 28px;
}

.skills__box--progress-bar
{
	position: relative;
	width: 260px;
	height: 13px;
	margin: 0 auto;
	padding: 5px;
	margin-bottom: 8px;
	background-color: #202020;
	border-radius: 10px;
}

/* optymalizacja z wykorzystaniem pseudoelementu */
.skills__box--progress-bar::after
{
	content: '';
	position: absolute;
	top: 31%;
	left: 1%;
	width: 98%;
	height: 40%;
	background-color: #0033ff;
	border-radius: 30px;
	transform: scaleX(0);
	transform-origin: bottom left;
	transition: transform 0.5s ease-in-out;
}

.skills:hover .html::after
{
	transform: scaleX(0.35);
	transform-origin: bottom left;
}

.skills:hover .css::after
{
	transform: scaleX(0.30);
	transform-origin: bottom left;
}

.skills:hover .sql::after
{
	transform: scaleX(0.40);
	transform-origin: bottom left;
}

.skills:hover .python::after
{
	transform: scaleX(0.15);
	transform-origin: bottom left;
}

.skills:hover .php::after
{
	transform: scaleX(0.10);
	transform-origin: bottom left;
}

/* do optymalizacji (zmaiast width użyć transform) 
.progress
{
	position: relative;
	width: 0%;
	height: 100%;
	background-color: #0033ff;
	border-radius: 7px;
	transition: width 0.7s ease-in-out;
}

 .skills:hover .html
{
	width: 35%;


.skills:hover .css 
{
	width: 30%;
}

.skills:hover .sql
{
	width: 40%;
}

.skills:hover .python
{
	width: 20%;
}

.skills:hover .php
{
	width: 10%;
}
*/

/* sekcja o mnie */
.about__box
{
	margin-bottom: 20px;
	padding: 0px 20px;
	font-size: 14px;
	line-height: 2;
	text-align: justify;
}

.about__cv-btn
{
	display: block;
	margin: 0 auto;
}

.btn 
{
	width: 200px;
	margin-top: 30px;
	padding: 5px;
	font-size: 18px;
	color: white;
	background-color: transparent;
	border: 1px solid #0033ff;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 200ms;
}

.btn:hover 
{
	background-color: #0022ee;
}

/* sekcja zdjęcia */
.photos 
{
	color: #202020;
} 

.photos__content-photo
{
	position: relative;
	display: inline-block;
	height: 422px;
	width: 250px;
	margin: 10px 5px;
	overflow: hidden;
	border-radius: 7px;
}

.photo
{
	position: absolute;
	height: 100%;
	width: 100%;
	background-size: center;
	background-position: top;
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.first-photo
{
	background-image: url('../img/photos/1.jpg');
}

.second-photo
{
	background-image: url('../img/photos/11.jpg');
}

.third-photo
{
	background-image: url('../img/photos/3.jpg');
}

.photo:hover
{
	opacity: 0.7;
	cursor: pointer;
	transform: scale(1.15);
}

/* sekcja projekty */
.projects__content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
}

.projects__content-item
{
	position: relative;
	height: 278px;
	margin: 30px;
	text-align: center;
	background-position: center;
	background-size: cover;
	border-radius: 15px;
	overflow: hidden;
}

.projects__content-item-first
{
	background-image: url('../img/projects/WindPanels.jpg');
}

.projects__content-item-second
{
	background-image: url('../img/projects/RWD.jpg');
}

.projects__content-item:hover .link 
{
	opacity: 0;
}

.projects__content-item-text
{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 80px 30px;
	background-color: rgba(0,0,0,.9);
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 0.8s;
}

.projects__content-item:hover .projects__content-item-text
{
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

/* sekcja contact */
.display-parameters
{
	display: flex;
}

.contact__content
{
	flex-direction: column;
}

.contact__content-left
{
	flex-direction: column;
}

.contact__content-links
{
	flex-direction: column;
}

.contact__content-links--animation 
{
    position: relative;
    width: 220px;
    margin: 20px auto;
    padding-bottom: 5px;
}

.contact__content-links--animation:after 
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0033ff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}

.contact__content-links--animation:hover:after 
{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.contact__content-links-text
{
	display: block;
    font-size: 15px;
    font-style: italic;
}

.contact__content-icons
{
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 18px;
	margin-bottom: 20px;
}

.contact__content-icon
{
	width: 40px;
    line-height: 40px;
    border-radius: 100%;
    transition: background-color 500ms, background 500ms;
}

.facebook:hover 
{
    background-color: #3b5998;
    cursor: pointer;
}

.linkedin:hover 
{
    background-color: #0e76a8;
    cursor: pointer;
}

.behance:hover 
{
    background-color: #053eff;
    cursor: pointer;
}

.instagram:hover 
{
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%,#bc1888 100%);
    cursor: pointer;
}

.contact__content-right
{
	flex-direction: column;
	align-items: center;
}

.contact__content-right-text
{
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: #202020;
    border: 1px solid gray;
    border-radius: 8px;
    /*outline - obramowanie pól*/
    outline: none;
}

.contact__content-right-message
{
    width: 90%;
    height: 150px;
    margin-top: 15px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: #202020;
    border: 1px solid gray;
    border-radius: 8px;
    outline: none;
    resize: none;
}

.contact__content-right-message:focus 
{
    border: 1px solid #0033ff;
}

.contact__content-right-text:focus 
{
    border: 1px solid #0033ff;
}


/* sekcja stopka */
footer 
{
	font-size: 9px;
	color: gray;
	background-color: #202020;
}

footer p
{
	width: 90%;
	margin: 0 auto;
	padding: 18px;
	border-top: solid 1px gray;
	
}

/* ikona przewijania strony */
.icon-up-open 
{
	display: none;
	/*-pozycja przypisana na stale-*/
	position: fixed;
	/*-odległosć od prawej krawedzi-*/
	right: 30px;
	/*-odległosć od dolnej krawedzi-*/
	bottom: 30px;
	width: 30px;
	height: 30px;
	font-size: 25px;
	text-decoration: none;
	color: gray;
	transition: transform 200ms;
	z-index: 1;
}

.icon-up-open:hover
{
	transform: scale(1.5);
}

/* RWD dla poszczególnych breakpointów */

@media (min-width: 576px) 
{
	.nav__burger
	{
		top: 20px;
		right: 20px;
	}
	section
	{
		padding-top: 30px;
	}

	.section__title
	{
		font-size: 28px;
	}

	.skills__box
	{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		margin: 20px;
	}

	.skills__box-logo 
	{
		width: 50px;
		padding: 0;
		font-size: 30px;
	}

	.skills__box--progress-bar
	{
		width: 350px;
		height: 15px;
		margin: 10px;
	}

	.about__box
	{
		padding: 0px 80px;
	}

	.btn 
	{
		width: 280px;
		margin-top: 20px;
		font-size: 20px;
	}

	.photos__content-photo
	{
		width: 320px;
	}

	.contact__content-right-message
    {
        width: 70%;
    }

    .contact__content-right-text
    {
        width: 70%;
    }

	footer
	{
		font-size: 12px;
	}

}

@media (min-width: 768px)
{	
	h1
	{
		margin-top: 20px;
		font-size: 40px;
		font-weight: 100;
	}

	.nav__photo
	{
		width: 242px;
		height: 242px;
	}
	
	.nav__burger, .burger-items
	{
		display: none;
	}

	.nav__menu
    {
		position: relative;
		flex-direction: row;
		justify-content: space-around;
		height: 10vh;
		margin-bottom: 50px;
		font-size: 15px;
		background-image: none;
		transform: none;
		transition: none;
    }

	.nav__menu-item
	{
		top: 0;
	}

	.section__title
	{
		font-size: 30px;
	}

	
	.skills__box-logo
	{
		width: 80px;
		margin-right: 30px;
		font-size: 38px;
	}

	.skills__box--progress-bar
	{
		width: 500px;
	}

	.about__cv-btn
	{
		margin-left: auto;
		margin-right: 0;
	}

	.projects__content 
	{
		flex-direction: row;
	}

	.projects__content-item
	{
		width: 50%;
	}

	.contact__content
	{
		flex-direction: row;
		justify-content: space-around;
	}

	.contact__content-right
	{
		width: 100%;
	}

	.contact__content-left
	{
		width: 100%;
	}

	.contact__content-links
	{
		text-align: left;
	}

    .contact__content-links-text
    {
		display: inline-block;
        margin-left: 15px;
        font-size: 16px;
    }

    .icon-phone, .icon-laptop, .icon-mail
    {
        font-size: 25px; 
    }

    .contact__content-icons
    {
		justify-content: space-evenly;
        margin: 60px 10px 0px 0px;
    }

	.contact__content-links--animation
	{
		width: 280px;
	}

}

@media (min-width: 1124px)
{

	section 
	{
		padding: 60px;
	}

	.section__title
	{
		margin-bottom: 50px;
		font-size: 40px;
	}

	.skills__box-logo
	{
		width: 100px;
		margin-right: 100px;
		font-size: 46px;
	}

	.skills__box--progress-bar
	{
		width: 700px;
		height: 18px;
		margin-bottom: 10px;
	}
	
}



