* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #f4f4f4;
}

// layout grid website structure
.layout {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		'nav nav nav nav nav nav nav nav nav nav nav nav'
		'main main main main main main main main main main main main'
		'footer footer footer footer footer footer footer footer footer footer footer footer';
	align-items: center;
	justify-items: center;
	gap: 1rem;
	min-height: 100dvh;
	margin: 0 auto;
}
