:root {
	--icon-fill: #000;
	--clr-background: #111111;
	--clr-text: #fff;
	--clr-hamburger: #fff;
	--clr-icon: #fff;
	--clr-hover: #fff;
	--clr-text-gradient: linear-gradient(180deg, #6cabab, #61e2c2);

	--clr-light-gray: #eee;
	--clr-gray: #ddd;
	--clr-dark-gray: #bebebe;
	--clr-shadow: rgba(0, 0, 0, 0.9);
	// --clr-main: rgb(79, 156, 219);
	--clr-main: #6cabab;
	--clr-main-light: #61e2c2;
}

[data-theme='light'] {
	--clr-background: #ffff;
	--clr-text: #000;
	--clr-hamburger: #000;
}
