@import 'header';

@media (max-width: 768px) {
	// header settings
	.nav-hamburger {
		display: flex;
	}
	.nav-left {
		display: none;
	}
	.nav-left.mobile {
		display: flex;
	}
}

// @media (min-width: 769px) {
//     .nav-left {
//         display: flex;
//     }
// }