@import 'header';

@media (min-width: 486px) {
	.nav {
		&-right {
			width: 12rem;
		}
	}
}

@media (max-width: 992px) {
	// header settings
	.nav {
		&-hamburger {
			display: flex;
		}

		&-left {
			display: none;
		}

		&-left.mobile {
			display: flex;
		}
	}
}

// @media (min-width: 769px) {
//     .nav-left {
//         display: flex;
//     }
// }
