@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.layout {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas: "nav" "header" "main" "footer";
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

:root {
  --clr-light-gray: #eee;
  --clr-gray: #ddd;
  --clr-dark-gray: #bebebe;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-shadow: rgba(0, 0, 0, 0.9);
  --clr-main: #6cabab;
}

/* Kolory ikon */
.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #1572b6;
}

.fa-sass {
  color: #cc6699;
}

.fa-bootstrap {
  color: #7952b3;
}

.fa-js {
  color: #f7df1e;
}

.fa-elementor {
  color: #db3d81;
}

.fa-python {
  color: #3776ab;
}

.fa-database {
  color: #00758f;
}

.fa-git-alt {
  color: #f05032;
}

.fa-node-js {
  color: #68a063;
}

.nav {
  grid-area: nav;
  position: sticky;
  width: 100dvw;
  top: 0;
  padding: clamp(2rem, 0.8rem + 0.7vw, 3rem) clamp(1.5rem, 0.8rem + 0.7vw, 4rem);
  z-index: 10;
}
.nav__container {
  display: grid;
  grid-template-areas: "hamburger logo contact";
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1400px;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}
.nav__hamburger {
  grid-area: hamburger;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4rem;
  height: 4rem;
  padding: 1em 0;
  cursor: pointer;
  z-index: 10000;
}
.nav__hamburger-line {
  height: 0.3rem;
  background-color: var(--clr-black);
  border-radius: 5rem;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.nav__hamburger-line--top {
  width: 50%;
}
.nav__hamburger-line--middle {
  width: 100%;
}
.nav__hamburger-line--bottom {
  width: 75%;
}
.nav__hamburger--active .nav__hamburger-line {
  background-color: var(--clr-dark-gray);
}
.nav__hamburger--active .nav__hamburger-line--top {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, -2.5px);
}
.nav__hamburger--active .nav__hamburger-line--middle {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.nav__hamburger--active .nav__hamburger-line--bottom {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -3px) rotatez(45deg);
}
.nav__hamburger--active:hover .nav__hamburger-line {
  background-color: var(--clr-white);
}
.nav__links {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: var(--clr-shadow);
  transform: translateX(-100%);
}
.nav__links-link {
  padding: 2rem;
  font-size: clamp(1.4rem, 1.4rem + 0.8vw, 2.4rem);
  letter-spacing: 0.4rem;
  text-decoration: none;
  color: var(--clr-dark-gray);
  transition: color 0.2s ease-in-out;
}
.nav__links-link:hover {
  color: var(--clr-white);
}
.nav__links--active {
  transform: translateX(0);
  height: 100dvh;
}
.nav__logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
}
.nav__logo-link {
  height: 6rem;
}
.nav__logo-img {
  height: 6rem;
  width: 6rem;
}
.nav__logo:active {
  transform: scale(0.96);
}
.nav__contact-link {
  grid-area: contact;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 4rem;
  justify-self: flex-end;
  font-size: clamp(1.5rem, 0.8rem + 0.7vw, 2rem);
  font-weight: 500;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: var(--clr-black);
  transition: transform 0.3s ease-in-out;
}
.nav__contact-link span {
  position: relative;
}
.nav__contact-link:active {
  transform: scale(0.96);
}
.nav__contact-link:before {
  left: 0;
  width: 15%;
  transform: skew(-12deg);
}
.nav__contact-link:before {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  height: 1.2rem;
  background: var(--clr-main);
  transition: width 0.2s ease-in-out;
}
.nav__contact-link:hover::before, .nav__contact-link.active::before {
  width: 100%;
}
@media (min-width: 992px) {
  .nav__container {
    grid-template-areas: "links logo contact";
  }
  .nav__hamburger {
    display: none;
  }
  .nav__links {
    grid-area: links;
    gap: clamp(4rem, 3rem + 1vw, 6rem);
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    text-align: center;
    font-weight: 500;
    background-color: transparent;
    transform: translateX(0);
  }
  .nav__links-link {
    position: relative;
    padding: 1.6rem 0rem;
    font-size: clamp(1.2rem, 1.2rem + 0.4vw, 2rem);
    letter-spacing: 0.4rem;
    text-decoration: none;
    color: var(--clr-black);
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
  }
  .nav__links-link:hover {
    color: var(--clr-black);
  }
  .nav__links-link span {
    position: relative;
  }
  .nav__links-link:before {
    left: 15%;
    width: 0%;
    transform: skew(-12deg);
  }
  .nav__links-link:before {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    height: 1.2rem;
    background: var(--clr-main);
    transition: width 0.2s ease-in-out;
  }
  .nav__links-link:hover::before, .nav__links-link.active::before {
    width: 100%;
  }
  .nav__logo {
    grid-area: logo;
  }
  .nav__contact-link {
    grid-area: contact;
  }
}
.nav--effects {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: background 0.3s ease-in-out;
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
  pointer-events: none;
}

.header {
  grid-area: header;
  display: grid;
  grid-template-rows: auto;
  grid-template-areas: "text_area" "image";
  align-items: center;
  width: min(100%, 1440px);
  padding: 2rem 0;
  overflow-x: hidden;
}
.header__image {
  grid-area: image;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__image-img {
  width: clamp(50rem, 100%, 80rem);
  height: auto;
  z-index: 2;
}
.header__text {
  grid-area: text_area;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  text-align: center;
}
.header__text-greeting {
  font-size: clamp(6rem, 3.2683rem + 3.122vw, 10rem);
  background: linear-gradient(180deg, #6cabab, #61e2c2);
  background-clip: text;
  letter-spacing: 0.5rem;
  -webkit-text-fill-color: transparent;
}
.header__text-title {
  font-size: clamp(3rem, 3.2683rem + 3.122vw, 5rem);
  font-weight: 200;
}
.header__text--bold {
  font-weight: 700;
}
.header__text--special {
  display: block;
  padding-top: 1rem;
  font-size: clamp(1.5rem, 1.3171rem + 0.5805vw, 2rem);
  font-style: italic;
  letter-spacing: 0.1rem;
}
@media (min-width: 800px) {
  .header {
    grid-template-areas: "image text_area";
    grid-template-columns: 1fr 1fr;
  }
  .header__image {
    justify-content: flex-end;
  }
}
@media (min-width: 992px) {
  .header {
    overflow-x: visible;
  }
  .header__image-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    transition: transform 0.1s ease-out;
    z-index: 5;
    width: clamp(50rem, 100%, 80rem);
    height: 110%; /* Ustawiamy wysokość na 100% kontenera */
    transform: scale(1) translate(-50%); /* Domyślne skalowanie */
  }
}

.about__description {
  max-width: 80ch;
  font-size: clamp(1.6rem, 2vw, 1.8rem);
  line-height: 1.6;
  text-align: justify;
}

.skills {
  position: relative;
  width: 100dvw;
  overflow-x: hidden;
}
.skills__wrapper {
  display: flex;
  width: 100dvw; /* Szerokość na całą stronę */
  height: 50%;
}
.skills__track {
  display: flex;
  gap: 40px;
  padding: 1rem 0;
  width: max-content; /* Zapewnia szerokość dostosowaną do liczby ikon */
  will-change: transform;
}
.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  flex-shrink: 0;
}
.skills__icon {
  font-size: 12rem;
}
.skills__text {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--clr-black);
}

.main {
  grid-area: main;
  width: 100dvw;
  max-width: 1600px;
  height: 100%;
  padding: 2rem;
  overflow: hidden;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.section__title {
  position: relative;
  padding: 2rem;
  align-self: flex-start;
  font-size: 10rem;
  color: var(--clr-gray);
  opacity: 0.4;
  text-transform: uppercase;
}
.section__title-deco {
  position: absolute;
  left: -2rem;
  bottom: -2rem;
  display: block;
  width: 100dvw;
  height: auto;
  z-index: -1;
}
.section__title-line {
  stroke-width: 2px;
  stroke: var(--clr-main);
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  transition: stroke-dashoffset 0.9s ease-out;
}/*# sourceMappingURL=main.css.map */