* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;
  background-color: #f4f4f4;
}

:root {
  --clr-light-gray: #eee;
  --clr-gray: #ddd;
  --clr-dark-gray: #bebebe;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-shadow: rgba(0, 0, 0, 0.6);
  --clr-main: rgba(28, 106, 196, 1);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.nav-left {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-left li {
  margin-right: 20px;
  font-size: 1.8rem;
}
.nav-left a {
  text-decoration: none;
  color: var(--clr-black);
}
.nav-logo-link {
  display: block;
  height: 6rem;
}
.nav-logo-img {
  height: 6rem;
  width: 6rem;
}
.nav-right {
  position: relative;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.nav-right a {
  color: var(--clr-black);
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.nav-right a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 2.8rem;
  background: rgba(28, 106, 196, 0.5);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.nav-right a:hover::before {
  width: 100%;
  background: rgb(28, 106, 196);
}
.nav-right a:hover {
  color: var(--clr-white);
}
.nav-right a span {
  position: relative;
}
.nav-hamburger {
  width: 4rem;
  height: 2.5rem;
  display: none;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10000;
}
.nav-hamburger div {
  width: 100%;
  height: 0.3rem;
  background-color: var(--clr-black);
  border-radius: 5rem;
  transition: width 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.nav-hamburger div:first-child {
  width: 80%;
}
.nav-hamburger div:last-child {
  width: 50%;
}
.nav-hamburger:hover div:first-child,
.nav-hamburger:hover div:last-child {
  width: 100%;
}
.nav-hamburger.active div {
  width: 100%;
  background-color: var(--clr-dark-gray);
}
.nav-hamburger.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-hamburger.active .line2 {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.nav-hamburger.active .line3 {
  transform: rotate(-45deg) translate(10px, -10px);
}
.nav-hamburger.active:hover div {
  background-color: var(--clr-white);
}
.nav-left.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  z-index: 999;
}
.nav-left.mobile li {
  margin: 20px 0;
  font-size: 2.4rem;
}
.nav-left.mobile a {
  padding: 1rem 5rem;
  color: var(--clr-dark-gray);
  letter-spacing: 0.4rem;
  transition: color 0.2s ease-in-out;
}
.nav-left.mobile a:hover {
  color: var(--clr-white);
}
.nav-left.mobile.active {
  transform: translateX(0);
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.nav-left {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-left li {
  margin-right: 20px;
  font-size: 1.8rem;
}
.nav-left a {
  text-decoration: none;
  color: var(--clr-black);
}
.nav-logo-link {
  display: block;
  height: 6rem;
}
.nav-logo-img {
  height: 6rem;
  width: 6rem;
}
.nav-right {
  position: relative;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
}
.nav-right a {
  color: var(--clr-black);
  text-decoration: none;
  transition: color 0.4s ease-in-out;
}
.nav-right a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 2.8rem;
  background: rgba(28, 106, 196, 0.5);
  transform: translateY(-50%);
  transition: all 0.2s ease-in-out;
}
.nav-right a:hover::before {
  width: 100%;
  background: rgb(28, 106, 196);
}
.nav-right a:hover {
  color: var(--clr-white);
}
.nav-right a span {
  position: relative;
}
.nav-hamburger {
  width: 4rem;
  height: 2.5rem;
  display: none;
  margin-left: 2rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10000;
}
.nav-hamburger div {
  width: 100%;
  height: 0.3rem;
  background-color: var(--clr-black);
  border-radius: 5rem;
  transition: width 0.2s ease-in-out, transform 0.3s ease-in-out;
}
.nav-hamburger div:first-child {
  width: 80%;
}
.nav-hamburger div:last-child {
  width: 50%;
}
.nav-hamburger:hover div:first-child,
.nav-hamburger:hover div:last-child {
  width: 100%;
}
.nav-hamburger.active div {
  width: 100%;
  background-color: var(--clr-dark-gray);
}
.nav-hamburger.active .line1 {
  transform: rotate(45deg) translate(5px, 5px);
}
.nav-hamburger.active .line2 {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.nav-hamburger.active .line3 {
  transform: rotate(-45deg) translate(10px, -10px);
}
.nav-hamburger.active:hover div {
  background-color: var(--clr-white);
}
.nav-left.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  z-index: 999;
}
.nav-left.mobile li {
  margin: 20px 0;
  font-size: 2.4rem;
}
.nav-left.mobile a {
  padding: 1rem 5rem;
  color: var(--clr-dark-gray);
  letter-spacing: 0.4rem;
  transition: color 0.2s ease-in-out;
}
.nav-left.mobile a:hover {
  color: var(--clr-white);
}
.nav-left.mobile.active {
  transform: translateX(0);
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

@media (min-width: 486px) {
  .nav-right {
    width: 12rem;
  }
}
@media (max-width: 992px) {
  .nav-hamburger {
    display: flex;
  }
  .nav-left {
    display: none;
  }
  .nav-left.mobile {
    display: flex;
  }
}
h1 {
  color: blue;
  font-size: large;
}/*# sourceMappingURL=main.css.map */