* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f4f4f4;
}

:root {
  --clr-light-gray: #eee;
  --clr-gray: #ddd;
  --clr-dark-gray: #bebebe;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-shadow: rgba(0, 0, 0, 0.9);
  --clr-main: rgba(28, 106, 196, 0.5);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.nav-left {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-left li {
  margin-right: 20px;
  font-size: 1.8rem;
}
.nav-left a {
  text-decoration: none;
  color: var(--clr-black);
}
.nav-logo {
  transition: transform 0.2s ease-in-out;
}
.nav-logo-link {
  display: block;
  height: 6rem;
}
.nav-logo-img {
  height: 6rem;
  width: 6rem;
}
.nav-logo:active {
  transform: scale(0.96);
}
.nav-right {
  position: relative;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  transition: transform 0.3s ease-in-out;
}
.nav-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--clr-black);
  text-decoration: none;
}
.nav-right a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1.2rem;
  background: var(--clr-main);
  transition: width 0.2s ease-in-out;
}
.nav-right a:hover::before {
  width: 100%;
}
.nav-right a span {
  position: relative;
}
.nav-right:active {
  transform: scale(0.96);
}
.nav-hamburger {
  width: 4rem;
  height: 4rem;
  padding: 1em 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10000;
}
.nav-hamburger div {
  height: 0.3rem;
  background-color: var(--clr-black);
  border-radius: 5rem;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.nav-hamburger div:nth-of-type(1) {
  width: 50%;
}
.nav-hamburger div:nth-of-type(2) {
  width: 100%;
}
.nav-hamburger div:nth-of-type(3) {
  width: 75%;
}
.nav-hamburger.active div {
  background-color: var(--clr-dark-gray);
}
.nav-hamburger.active div:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, -2.5px);
}
.nav-hamburger.active div:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.nav-hamburger.active div:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -3px) rotatez(45deg);
}
.nav-hamburger.active:hover div {
  background-color: var(--clr-white);
}
.nav-left.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-shadow);
  transform: translateY(-100%);
  z-index: 999;
}
.nav-left.mobile li {
  margin: 3rem 0;
  font-size: 2rem;
}
.nav-left.mobile a {
  padding: 1rem 5rem;
  color: var(--clr-dark-gray);
  letter-spacing: 0.4rem;
  transition: color 0.2s ease-in-out;
}
.nav-left.mobile a:hover {
  color: var(--clr-white);
}
.nav-left.mobile.active {
  transform: translateY(0%);
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}
.nav-left {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.nav-left li {
  margin-right: 20px;
  font-size: 1.8rem;
}
.nav-left a {
  text-decoration: none;
  color: var(--clr-black);
}
.nav-logo {
  transition: transform 0.2s ease-in-out;
}
.nav-logo-link {
  display: block;
  height: 6rem;
}
.nav-logo-img {
  height: 6rem;
  width: 6rem;
}
.nav-logo:active {
  transform: scale(0.96);
}
.nav-right {
  position: relative;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.3rem;
  transition: transform 0.3s ease-in-out;
}
.nav-right a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--clr-black);
  text-decoration: none;
}
.nav-right a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1.2rem;
  background: var(--clr-main);
  transition: width 0.2s ease-in-out;
}
.nav-right a:hover::before {
  width: 100%;
}
.nav-right a span {
  position: relative;
}
.nav-right:active {
  transform: scale(0.96);
}
.nav-hamburger {
  width: 4rem;
  height: 4rem;
  padding: 1em 0;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 10000;
}
.nav-hamburger div {
  height: 0.3rem;
  background-color: var(--clr-black);
  border-radius: 5rem;
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.nav-hamburger div:nth-of-type(1) {
  width: 50%;
}
.nav-hamburger div:nth-of-type(2) {
  width: 100%;
}
.nav-hamburger div:nth-of-type(3) {
  width: 75%;
}
.nav-hamburger.active div {
  background-color: var(--clr-dark-gray);
}
.nav-hamburger.active div:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3px, -2.5px);
}
.nav-hamburger.active div:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}
.nav-hamburger.active div:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(18px, -3px) rotatez(45deg);
}
.nav-hamburger.active:hover div {
  background-color: var(--clr-white);
}
.nav-left.mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-shadow);
  transform: translateY(-100%);
  z-index: 999;
}
.nav-left.mobile li {
  margin: 3rem 0;
  font-size: 2rem;
}
.nav-left.mobile a {
  padding: 1rem 5rem;
  color: var(--clr-dark-gray);
  letter-spacing: 0.4rem;
  transition: color 0.2s ease-in-out;
}
.nav-left.mobile a:hover {
  color: var(--clr-white);
}
.nav-left.mobile.active {
  transform: translateY(0%);
}

.blur {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

@media (max-width: 992px) {
  .nav-hamburger {
    display: flex;
  }
  .nav-left {
    display: none;
  }
  .nav-left.mobile {
    display: flex;
  }
}
h1 {
  color: blue;
  font-size: large;
}/*# sourceMappingURL=main.css.map */